<form action="/bookmarks/add" method="post">
  Bookmark title:
  <input type="text" name="bookmark_title"> <br>
    Bookmark address:
    <input type="text" name="bookmark_url"> <br>

    <input type="submit" value="Add"> <br>
</form>
